@white: #FFFFFF;
@sad: #E74C3C;
@happy: #2ECC71;
@bored: #F1C40F;
@grey-1: #AAAAAA;
@grey-2: #BBBBBB;
@grey-3: #F3F3F3;
@grey-4: #777777;
@grey-5: #555555;
@grey-6: #F5F5F5;
@grey-7: #EDEDED;
@smooth: #02779E;
@smooth-light: #0396BD;
@midnightblue: #2C3E50;
@orange: #F39C12;

//444 333 646464
