@white: #FFFFFF;
@black: #000000;
@bad: #FF3333;
@good: #66CC33;
@neutral: #0033FF;
@grey-1: #AAAAAA;
@grey-2: #BBBBBB;
@grey-3: #F3F3F3;
@grey-4: #777777;
@grey-5: #555555;
@blue-1: #3e779d;
@blue-2: #65a9d7;
@wonka-chocolate: #624B42;
@blue-steel: #1B708C;
@tangerine: #FBA71A;
@bee: #FFCC00;

@lemon: #FFFF78;
@lemonade: #FFFFBD;
@pretty-blue: #BFE5FF;
@someone: #FEE1AB;
@artic-winter: #F0F4F7;

@dutch: #1693A5;
@foggy: #FBC27F;
@cactus: #D44360;
@citroen: #8ED6A8;
@followers: #2ABFC3;
@pepper: #9C1B3D;
