/* Copyright Feelhub 2012 */
body {
  background-color: rgba(0, 0, 0, 0.1);
  .font_text;
  font-size: @font-normal;

  a {
    text-decoration: none;
  }

  img {
    border: none;
  }

  canvas {
    .rounded;
  }
}