/* Copyright Feelhub 2012 */
body {

  #command {
    text-align: center;
    width: 300px;
    margin: 40px auto;

    @media (min-width: 640px) {
      width: 600px;
    }

    #feeling_form {
      position: relative;
      margin: 0px auto;

      .hidden-form {
        display: none;
      }

      input, textarea, select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      select {
        position: relative;
        top: 24px;
        left: 200px;
        font-size: 10px;
        color: @grey-4;
        border: none;
        border-bottom: 1px dotted @grey-1;
        outline: none;
        .rounded(0px);

        @media (max-width: 640px) {
          left: 80px;
        }
      }

      textarea {
        width: 240px;
        height: 100px;
        border: none;
        resize: none;
        background-color: @white !important;
        padding-top: 36px;
        padding-left: 20px;
        padding-right: 20px;

        &:focus {
          outline: none;
        }

        @media (min-width: 640px) {
          width: 540px;
        }
      }

      button[type=submit] {
        position: relative;
        width: 300px;
        height: 50px;

        @media (min-width: 640px) {
          width: 600px;
        }
      }

      #triangle {
        position: relative;
        width: 0;
        height: 0;
        margin: 0px auto;
        padding: 0px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 10px solid #3e779d;
      }
    }

    .create-topic {
      width: 200px;
      padding: 10px 20px;
    }

    .login-button, .signup-button {
      padding: 10px 20px;
    }

    .or {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}