/* Copyright Feelhub 2012 */
body {
  background-image: url('../images/bg.jpg') !important;
  .font_text;
  font-size: @font-normal;

  a {
    text-decoration: none;
  }

  header {
    position: relative;
    width: 100%;
    overflow: hidden;

    #header-top {
      height: 54px;
      margin: 0px auto;
      text-align: center;
      overflow: hidden;

      a {
        color: @white;

        &:hover {
          color: @moods-1 !important;
        }
      }

      #home_link {
        padding-top: 6px;
        margin-left: 15%;
        float: left;
        font-size: 42px;
        .font_logo;

        span {
          font-size: 26px;
          font-weight: normal !important;
        }
      }

      #login_helper {
        padding-top: 28px;
        margin-right: 15%;
        float: right;
        font-size: 14px;
        .font_title;

        p {
          color: @white;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    #header-bottom {
      background-color: @moods-1;
      height: 28px;
      border-top: 4px solid @white;
      border-bottom: 4px solid @white;
      overflow: hidden;

      ul {
        padding-top: 8px;

        li {
          list-style: none;
          display: inline-block;
          width: 100px;
          text-align: center;

          a {
            color: @grey-4;
            font-weight: bold;
            .font_title;
            display: block;
            width: 100%;

            &:hover {
              color: @grey-1 !important;
            }
          }
        }
      }

      #header-bottom-left {
        float: left;
        margin-left: 15%;
      }

      #header-bottom-right {
        float: right;
        margin-right: 15%;
      }
    }

    #search {
      margin: 0px auto;
      width: 300px;
      text-align: center;

      input[type="text"] {
        font-size: @font-normal;
        .font_text();
        .rounded_down();
        color: @grey-4;
        font-weight: bold;
        background: url('../images/search-white.png') no-repeat 10px 6px @moods-1;
        border-top: none !important;
        border-left: 4px solid @white !important;
        border-right: 4px solid @white !important;
        border-bottom: 4px solid @white !important;
        width: 200px;
        padding: 6px 15px 6px 35px;

        &:focus {
          outline: none !important;
        }
      }
    }
  }

  .call-to-action {
    cursor: pointer;
    color: @moods-1;
    .font_span;
    font-weight: bold;
    font-size: @font-medium;
    text-decoration: none;
    .rounded();
    font-size: 28px;
    text-decoration: none;
    background-color: @neutral;
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;

    &:hover, &:focus {
      color: @white !important;
      -moz-box-shadow: 0 0 10px 0px #FFF;
      -webkit-box-shadow: 0 0 10px 0px #FFF;
      box-shadow: 0 0 10px 0px #FFF;
    }

    &:active {
      .insetshadow();
    }
  }
}