/* Copyright Feelhub 2012 */
body {

  #command {
    margin-top: 133px;
    width: 100%;

    @media (max-width: 640px) {
      display: none;
    }

    @media (max-width: 1040px) {
      margin-top: 40px;
      left: 0px;
      width: 100%;
    }

    #feeling-form {
      position: relative;
      margin: 0px auto;
      width: 620px;
      height: 260px;
      margin-bottom: 20px;

      input, textarea, select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      #form-left-panel {
        position: relative;
        float: left;
        height: 100%;
        background-color: @white !important;
        width: 50%;
        overflow: hidden;
        .rounded_left();

        select {
          position: relative;
          top: 5px;
          left: 200px;
          display: block;
          font-size: 10px;
          color: @grey-4;
          border: none;
          border-bottom: 1px dotted @grey-1;
          outline: none;
          .rounded(0);
          z-index: 1000;
        }

        .help_text {
          position: absolute;
          display: none;
          left: 22px;
          top: 35px;
          color: @grey-1 !important;
          font-size: @font-normal;
          .font_text;
        }

        textarea {
          position: relative;
          font-size: @font-normal;
          height: 160px;
          border: none;
          resize: none;
          background-color: transparent !important;
          padding: 20px;
          outline: none;
          box-sizing: border-box;
          .font_text;
          width: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
        }

        #form-topics {
          text-align: center;
          box-sizing: border-box;
          width: 100%;
        }
      }

      #form-right-panel {
        position: relative;
        float: right;
        height: 100%;
        background-color: @grey-3 !important;
        width: 50%;
        overflow: hidden;
        .rounded_right();
        text-align: center;

        input[type=submit] {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -25px;
          margin-left: -100px;
          width: 200px;
          height: 50px;
          font-size: 18px !important;
        }

        .form-help {
          margin-top: 30px;

          #loading-gif {
            position: absolute;
            top: 50%;
            margin-top: -8px;
          }

          span.question {
            display: block;
            margin: 20px;
          }

          span.question-name {
            display: block;
            margin: 20px;
            color: @grey-4;
            .font_title;
            font-size: @font-normal;
            font-weight: bold;
            word-wrap: break-word;
          }

          .sentiment-choice {
            width: 100%;

            img {
              width: 14px;
              height: 14px;
              padding: 7px;
              .rounded(50px);
              cursor: pointer;
              margin-left: 10px;
              margin-right: 10px;
            }
          }

          input.category-input {
            display: block;
            padding: 10px;
            margin: 20px auto;
          }

          button.category-ok {
            display: block;
            margin: 20px auto;
            width: 40px;
          }

          button.ignore-button {
            display: block;
            margin: 20px auto;
            width: 100px;
          }
        }
      }
    }

    #login-panel {
      margin: 0px auto;
      text-align: center;

      a {
        display: inline-block;
        padding: 10px 20px;
        width: 120px;
        margin: 40px;
      }

      span {

      }
    }

    .create-topic {
      width: 300px !important;
      padding: 10px 20px;
    }
  }
}

