/* Copyright Feelhub 2012 */
body {

  #slogan {
    text-align: center;
    width: 100%;
    .font_logo;
    color: @white;
    font-size: 40px;
    height: 302px;
    margin-top: 20px;
    display: block;

    span {
      position: relative;
      top: 146px;
    }
  }

  #carousel-wrapper {
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    z-index: 10;
    position: relative;

    div#topic-name {
      min-height: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: @white;
      .rounded_up();
      margin: 0px auto 0px auto;
      width: 300px;

      span {
        color: @grey-4;
        .font_title;
        font-size: @font-big;
        font-weight: bold;
        word-wrap: break-word;
      }
    }

    .nav {
      display: inline-block;
      vertical-align: top;
      margin-top: 75px;
      width: 30px;
      height: 90px;
      display: none;

      @media (max-width: 380px) {
        display: none;
      }
    }

    #carousel-prev {
      width: 0;
      height: 0;
      border-top: 45px solid transparent;
      border-bottom: 45px solid transparent;
      border-right: 30px solid @grey-3;

      &:hover {
        width: 0;
        height: 0;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
        border-right: 30px solid @white;
      }
    }

    #carousel-next {
      width: 0;
      height: 0;
      border-top: 45px solid transparent;
      border-bottom: 45px solid transparent;
      border-left: 30px solid @grey-3;

      &:hover {
        width: 0;
        height: 0;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
        border-left: 30px solid @white;
      }
    }

    #carousel {
      width: 300px;
      height: 260px;
      margin: 0px auto;
      overflow: hidden;
      display: inline-block;
      background-color: @white;
      .rounded_down();

      #dashboard {
        vertical-align: top;
        height: 100%;
        text-align: center;
        color: @grey-4;
        font-weight: bold;

        li {
          padding-left: 10px;
          padding-right: 10px;
          width: 280px;
          height: 100%;
          overflow: hidden;
          list-style-type: none;
          float: left;
          display: block;
          text-align: center;

          div.holder {
            margin-bottom: 10px;
            text-align: center;
          }

          span.type {
            .font_title;
            font-size: @font-normal;
            font-weight: bold;
          }

          img {
            border: none;
          }

          div.other_medias {
            width: 272px;
            overflow: hidden;
            margin: 1px auto !important;
            font-size: 0px;
            height: 56px;
          }

          .description, .uris, .subtypes {
            font-size: @font-normal;
            .font_title;
            font-weight: bold;
            color: @grey-4;
          }

          .uris {
            text-decoration: underline;
          }

          .linkicon {

          }

          canvas {
            .rounded;
          }

          img.smiley {
            width: 120px;
            height: 120px;
            .rounded;
          }

          div.related {
            font-size: 0px;
            vertical-align: top;
          }
        }
      }
    }
  }
}