/* Copyright Feelhub 2012 */
body {

  #topic-container {
    margin: 0px auto;
    margin-top: 82.2px !important;
    max-width: 1224px;
    //  background-color: @grey-6;
    //opacity: 0.5;
    //.rounded_up();

    //#dashboard {
    //  height: 348.4px;
    //  overflow: hidden;
    //  position: relative;
    //  top: -215px;
    #topic-container-left {
      float: left;

      .topic {
        //position: relative;
        //left: 215.3px;
        //top: -215.3px;
        //margin-left: 133px;
        .rounded();
        border: 12px solid @grey-6;
        margin: 12px;
        width: 564px;

        img {
          //.rounded();
        }

        span {
          text-align: center;
          font-size: 19.4px;
          min-height: 31.4px;
          max-height: 133px;
          line-height: 1.7;
        }
      }

      #uris {
        //clear: left;
        width: 564px;
        //clear: both;
        //float: left;
        background-color: @grey-6;
        .rounded();
        margin: 12px;
        padding: 12px;
        //padding-left: 24px;

        img {
          //position: absolute;
          //left: 12px;
          //float: left;
        }

        a {
          //margin: 19.4px;
          //padding: 12px;
          //float: right;
          color: @grey-5;
          .font_title;

          &:hover {
            color: @grey-1 !important;
          }
        }

      }
    }

    #topic-flow {
      //clear: both;
      float: right;
      width: 564px;
      min-height: 564px;
      background-color: @grey-6;
      .rounded_up();
      padding: 12px;
      margin: 12px;

      #topic-flow-top {
        width: 100%;
        text-align: center;
        border-bottom: 1.7px solid @grey-7;

        #youfeel, #theyfeel {
          display: inline-block;
          //position: relative;
          //top: -544.6px;
          //left: 912px;
          width: 82px;
          //float: left;
          //margin-left: 133px;
          //background-color: @grey-6;
          //.rounded();
          //padding: 19.4px;
          padding: 12px;
          margin: 12px;

          div {
            font-size: 19.4px;
            .font_slogan();
            width: 82px;
            padding: 7px;
            box-sizing: border-box;
            color: @smooth;
          }
        }
      }

      #comment-form {
        position: relative;
        width: 100%;

        span {
          .font_text();
          position: absolute;
          left: 108px;
          top: 14px;
          z-index: 1000;
          font-size: 12px;
          color: @grey-1 !important;
        }

        textarea {
          display: block;
          width: 348px;
          padding: 12px;
          margin: 0px auto;
          border: 1.7px solid @grey-7;
          border-bottom: none;
          resize: none;
          outline: none;
        }

        #submit-wrapper {
          width: 372px;
          background-color: @grey-7;
          margin: 0px auto;
          border: 1.7px solid @grey-7;
          border-top: none;

          input {
background-color: @grey-1;
          }
        }

      }

    }
    //}
  }
}