/* Copyright Feelhub 2012 */
body {

  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 82.2px;
    text-align: center;
    z-index: 2000;

    .add-topic-button {
      position: fixed;
      background-color: @smooth-light;
      width: 82.2px;
      height: 82.2px;
      top: 0px;
      left: 0px;
      text-align: center;
      color: @white;
      cursor: pointer;
      .font_title;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      #symbol {
        padding-top: 7px;
        font-size: @font-5;
      }

      #add {
        display: block;
        font-size: @font-2;
      }
    }

    #top-bar {
      float: left;
      background-color: @white;
      height: 50.8px;
      width: 100%;
      overflow: hidden;

      #home-link {
        float: left;
        height: 31px;
        width: 215px;
        margin-left: 133px;
        margin-top: 10px;
        background: url('/static/images/feelhub.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;

        &:hover {
          background: url('/static/images/feelhub.png');
          background-position: 0px -32px;
          text-decoration: none !important;
        }

        span {
          color: #F39C12;
          position: relative;
          top: 0px;
          left: 51px;
          .font_title();
          font-size: @font-1;
        }
      }

      #search {
        float: left;

        #seach-query {
          padding: 7px;
          padding-left: 31.4px;
          width: 215px;
          margin-top: 9.7px;
          background: url("/static/images/search-dark.png") left 7px top 7px no-repeat;
          border: 2px solid @grey-6;
          outline: none;
          .rounded_left();
        }

        #search-submit {
          position: relative;
          left: -2px;
          height: 26px;
          border: none;
          color: @white;
          background-color: @smooth-light;
          .rounded_right();
        }
      }

      #user {
        float: right;
        color: @grey-5;
        margin-right: 31.4px;
        height: 50.8px;

        a {
          height: 100%;
          display: block;
          text-decoration: none;
          color: @grey-5;

          img {
            border-radius: 100%;
            border: 2px solid @white;
            vertical-align: middle;
          }
          p {
            margin-top: 23px;
            display: inline-block;
            text-decoration: underline;
          }
        }

        ul {
          display: none;
          position: fixed;
          top: 50.8px;
          z-index: 100000;

          li {
            z-index: 100000;
            padding: 12px;
            background-color: @grey-6;

            a {
              color: @grey-5;

              &:hover {
                color: @white;
              }
            }
          }

          li:last-child {
            border-right: 1px solid @white;
            border-left: 1px solid @white;
            border-bottom: 1px solid @white;
            .rounded_down();
          }
        }
      }

      #user.show {
        ul {
          display: block !important;
        }
      }

      #login-panel {
        float: right;
        height: 31.4px;
        margin-right: 50.8px;

        a {
          display: inline-block;
          height: 19.4px;
          width: 133px;
          margin-top: 19.4px;
          padding-top: 12px;
          color: @grey-7;
          .rounded_up();
          background-color: @smooth-light;
          margin-left: 7px;
          margin-right: 7px;
          .font_title();

          &:hover {
            color: @white;
          }
        }
      }
    }

    #filters {
      background-color: @grey-6;
      float: left;
      width: 100%;
      height: 31.4px;
      outline: none;
      outline-width: 0px;
      white-space: nowrap;
      overflow: visible;
      padding-left: 106.6px;

      #filters-overlay {
        display: none;
        z-index: 2001;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      #filters-overlay.open {
        display: block !important;
      }

      #choose-filter {
        float: left;
      }

      .filter {
        display: none;
        float: left;
        position: relative;
        vertical-align: top;
        margin-left: 7px;
        margin-right: 7px;
        background-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2002;

        .top-filter {
          position: relative;
          padding-top: 12px;
          padding-left: 19.4px;
          padding-right: 29.4px;

          .current-value {
            height: 19.4px;
            font-size: @font-1;
            .font_text;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            overflow: hidden;
          }

          .down_arrow {
            position: absolute;
            top: 50%;
            right: 10px;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-top: 5px solid @grey-4;
          }

          &:hover {
            cursor: pointer;

            div {
              color: #444;
            }

            .down_arrow {
              border-top: 6px solid #444;
            }
          }

          &.disabled {
            cursor: default;
            color: @grey-2;

            .down_arrow {
              border-top: 5px solid @grey-2;
            }

            &:hover {
              div {
                color: @grey-2;
              }

              .down_arrow {
                border-top: 5px solid @grey-2;
              }
            }
          }
        }

        ul {
          cursor: pointer;
          display: none;
          background-color: @white;
          border: 1px solid @grey-7;
          position: absolute;
          top: 26.9px;
          left: 0px;
          box-shadow: 0px 2px 4px @grey-4;
          text-align: left;

          li {
            padding-left: 19.4px;
            padding-right: 19.4px;
            padding-top: 4px;
            padding-bottom: 4px;

            &:hover {
              background-color: @grey-6;
            }
          }

          li.selected {
            background: url("/static/images/checkmark.png") no-repeat;

            &:hover {
              background: url("/static/images/checkmark.png") @grey-6 no-repeat;
            }
          }
        }

        ul.open {
          display: block !important;
        }
      }

      #filter-languages {
        ul {
          width: 417px;

          li {
            width: 100px;
            float: left;
          }
        }
      }
    }
  }

  @media all and (max-width: 1100px) {

    #login-panel {
      a {
        width: 82px !important;
      }
    }
  }

  @media all and (max-width: 850px) {
    #home-link {
      width: 140px !important;

      span {
        top: -4px !important;
        left: 82px !important;
      }
    }

    #login-panel {
      margin-right: 12px !important;
    }
  }

  @media all and (max-width: 700px) {
    #home-link {
      width: 31px !important;

      span {
        top: -4px !important;
        left: 42px !important;
      }
    }
  }

  @media all and (max-width: 600px) {
    #home-link {
      margin-left: 10px !important;
    }

    #login-panel {
      margin-right: 10px !important;

      a {
        width: 50.8px !important;
        margin-left: 1px !important;
        margin-right: 1px !important;
      }
    }
  }

  @media all and (max-width: 600px) {
    #home-link {
      margin-left: 5px !important;
    }

    #login-panel {
      margin-right: 5px !important;

      a {
        width: 50.8px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
      }
    }

    #user {
      a {

        img {
          display: none;
        }
      }
    }
  }
}