/* Copyright Feelhub 2012 */
body {

  .img_bad {
    background-color: @bad;
  }

  .img_good {
    background-color: @good;
  }

  .img_neutral {
    background-color: @neutral;
  }

  .img_none {
    background-color: @grey-2;
  }
}