/* Copyright Feelhub 2012 */
body {

  .img_bad {
    background-color: @bad;
  }

  .img_good {
    background-color: @good;
  }

  .img_neutral {
    background-color: @neutral;
  }

  .img_none {
    background-color: @grey-2;
  }

  .feeling-bad {
    background-color: @bad;
  }

  .feeling-good {
    background-color: @good;
  }

  .feeling-neutral {
    background-color: @neutral;
  }

  .feeling-none {
    background-color: @grey-2;
  }

  .good {
    color: @good;
  }

  .bad {
    color: @bad;
  }

  .neutral {
    color: @neutral;
  }
}