<li class="flow-element feeling" id="{{feelingid}}">
    <img src="{{root}}/static/images/smiley_{{feeling_sentiment_value}}_white_14.png" class="img_{{feeling_sentiment_value}} feeling_sentiment_illustration"/>
    {{#text}}
    <p>{{{.}}}&nbsp;</p>
    {{/text}}
    <div class="feeling_related" style="height: {{height}}">
        {{#topicDatas}}
            {{#id}}
            <a href="{{root}}/topic/{{id}}" class="{{classes}} topic_stack" id="{{id}}">
                <img src="{{root}}/static/images/smiley_{{sentimentValue}}_white_14.png" class="img_{{sentimentValue}} topic_sentiment_illustration" style="z-index: 1000;"/>
                <img src="{{illustration}}" class="topic_illustration" onload="OnImageLoad(event);"/>
                <span class="{{sentimentValue}}">{{name}}</span>
            </a>
            {{/id}}
            {{^id}}
            <div class="{{classes}} topic_stack">
                <select name="type">
                    <option value="None" selected="selected"></option>
                    {{#realtypes}}
                        <option value="{{.}}">{{.}}</option>
                    {{/realtypes}}
                </select>
                add a type
                <span class="{{sentimentValue}}">{{name}}</span>
            </div>
            {{/id}}
        {{/topicDatas}}
    </div>
</li>