<li class="flow-element feeling" id="{{feelingid}}">
    <div class="feeling_spacer"></div>
    <div class="counter">
    <img class="smiley img_bad" src="{{root}}/static/images/smiley_bad_white_14.png"/>
    <span id="counter_bad_{{feelingid}}">0</span>
    </div>
    <div class="counter">
    <img class="smiley img_neutral" src="{{root}}/static/images/smiley_neutral_white_14.png"/>
    <span id="counter_neutral_{{feelingid}}">0</span>
    </div>
    <div class="counter">
    <img class="smiley img_good" src="{{root}}/static/images/smiley_good_white_14.png"/>
    <span id="counter_good_{{feelingid}}">0</span>
    </div>
    <div class="feeling_spacer"></div>
</li>