.about {
    width: 100%;
    background-color: #DDD;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    text-align: center;
    font-size: 1.5em;
    color: #FFFFFF;
    font-family: 'Droid Sans';, Sans-Serif;
}

.about a {
    color: #FFFFFF;
}

.aboutlogo {
    position: relative;
    //float: left;
    border: 0px;
    width: 100px;
    opacity: 0.6;
}

.aboutlogo:hover {
    opacity: 1;
}