/* Copyright bytedojo 2011 */
body {
    background-color: #E1FAFC;
    font-size: 12px;
}

#test_header {
    width: 100%;
    height: 60px;
    z-index: 20;
}

#hider {
    position: fixed;
    top: -100px;
    width: 100%;
    height: 300px;
    background-color: #E1FAFC;
    z-index: 5;
}

#wrapper_form {
    position: fixed;
    top: 0px;
    height: 50px;
    border-bottom: 10px solid white;
    //border-top: 10px solid white;
    width: 100%;
    background-color: #E1FAFC;
    z-index: 15;
}

#test_form {
    position: relative;
    top: 50px;
    //top: -10px;
    //left: 50%;
    //margin-left: -100px;
    margin: 0 auto;
    width: 200px;
    height: 80px;
    background-color: #E1FAFC;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    z-index: 100;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
        --moz-border-radius: 200px;
        --webkit-border-radius: 200px;
        font-size: 1.8em;
            font-weight: bold;
            text-align: center;
            color: #388399;
            padding-top: 20px;
            cursor: pointer;
}

#test_panel {
    position: relative;
    width: 100%;
    background-color: #ADDDEB;
    height: 400px;
    border-bottom: 10px solid white;
    //border-top: 10px solid white;
    z-index: 10;
}

#ribbonright {
    float: left;
    position: relative;
    left: 10%;
    top: 20px;
     //font-size: 16px !important;
     width: 150px;
     color: #fff;
     text-align: center;
     height: 60px;
     z-index: 200;
}

#ribbonleft {
float: left;
    position: relative;
    left: 15%;
    top: 20px;
     //font-size: 16px !important;
     width: 150px;
     color: #fff;
     text-align: center;
     height: 60px;
}


#ribbonright:before {
     content: "";
     position: absolute;
     display: block;
     border: 75px solid #6C3;
     top: 60px;
     border-top-width: 20px;
     border-bottom-color: transparent;
     z-index: -1;
}


#ribbonleft:before {
     content: "";
     position: absolute;
     display: block;
     border: 75px solid #F33;
     top: 60px;
     border-top-width: 20px;
     border-bottom-color: transparent;
     z-index: -1;
}












#overlay_top {
    position: fixed;
    top: 50px;
    left: 2%;
    width: 96%;
    height: 150px;
    background-color: #E1FAFC;
    z-index: 200;
    visibility: hidden;
}

#overlay_bottom {
    position: fixed;
    top: 50px;
    left: 2%;
    width: 96%;
    height: 100%;
    background-color: #E1FAFC;
    z-index: 101;
}

#overlay_shadow{
    position: fixed;
    top: 50px;
    left: 2%;
    width: 96%;
    height: 100%;
    z-index: 101;
}

#feedback {
    position: fixed;
    top: 50%;
    right: 2%;
    width: 100px;
    margin-top: -50px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 10px;
    font-size: 16px;
    z-index: 200;
}

a {
    text-decoration: none !important;
}

.button {
    cursor: pointer;
    border: none !important;
}

.textfont {
    font-family: 'Droid Serif', serif;
}

.titlefont {
    font-family: 'Droid Sans';, Sans-Serif;
}

.vertical_right {
    transform: rotate(-90deg);
    transform-origin: bottom right;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: bottom right;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: bottom right;
    -o-transform: rotate(-90deg);
    -o-transform-origin: bottom right;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: bottom right;
}

.vertical_left {
    transform: rotate(-90deg);
    transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: top left;
    -o-transform: rotate(-90deg);
    -o-transform-origin: top left;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: top left;
}

.rounded {
    border-radius: 10px;
    --moz-border-radius: 10px;
    --webkit-border-radius: 10px;
}

.rounded_down {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    --moz-border-radius-bottom-right: 10px;
    --moz-border-radius-bottom-left: 10px;
    --webkit-border-bottom-right-radius: 10px;
    --webkit-border-bottom-left-radius: 10px;
}

.rounded_top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    --moz-border-radius-top-right: 10px;
    --moz-border-radius-top-left: 10px;
    --webkit-border-top-right-radius: 10px;
    --webkit-border-top-left-radius: 10px;
}

.rounded_left {
    border-top-left-radius: 100px;
    --moz-border-radius-top-left: 100px;
    --webkit-border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    --moz-border-radius-bottom-left: 100px;
    --webkit-border-bottom-left-radius: 100px;
}

.rounded_right {
    border-top-right-radius: 100px;
    --moz-border-radius-top-right: 100px;
    --webkit-border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    --moz-border-radius-bottom-right: 100px;
    --webkit-border-bottom-right-radius: 100px;
}

.shadow {
    -moz-box-shadow: 0px 0px 5px 1px #C9C9C9;
    -webkit-box-shadow: 0px 0px 5px 1px #C9C9C9;
    box-shadow: 0px 0px 5px 1px #C9C9C9;
}