/* Copyright Steambeat 2012 */
@import "import/variables.less";
@import "import/colors.less";
@import "import/mixins.less";

body {
    background-color: @blue-4 !important;

    font-size: @font-normal;
    .font_text;

    a {
        text-decoration: none !important;
    }

    header {
        height: 80px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        #header_wrapper {
            width: 100%;
            margin: 20px 0px 0px 0px;

            #home_link {
                width: 38%;
                float: left;
                text-align: center;

                a {
                    font-size: 46px;
                    font-weight: bold;
                    color: @blue-2;
                    .font_title;

                    span {
                        color: @moods-1;
                    }

                    &:hover {
                        color: @moods-1 !important;
                    }
                }
            }

            #login_help {
                float: right;
                width: 62%;
                padding-top: 20px;
                font-size: 16px;

                a {
                    font-weight: bold;
                    color: @moods-1;
                }

                p {
                    float: right;
                    color: @moods-1;
                }
            }
        }
    }
}