/* Copyright bytedojo 2011 */
.ui-dialog {
    position: fixed !important;
    top: 20% !important;
}

.ui-dialog-titlebar {
    height: 20px;
    background-color: #E9E9E9;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

.ui-dialog-titlebar a {
    position: absolute;
    left: 0px;
}

.ui-dialog-content {
    height: 60%;
    background-color: #F1F1F1;
}

.ui-widget-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #F1F1F1;
    opacity: 0.6;
}