/* Copyright bytedojo 2011 */
#opinions {
    position: relative;
    top: 450px;
    left: 2%;
    width: 96%;
    z-index: 1;
}

.opinion {
    display: block;
    position: absolute;
    width: 240px;
    padding: 20px;
    margin: 10px;
    border-width: 0px;
    border-style: solid;
    border-color: #FFF;
    background-color: #FFF;
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
}

.opinion p {
    word-wrap: break-word;
}

.judgments_header {
    position: relative;
    top: -22px;
    font-size: 10px;
    width: 100%;
    text-align: center;
}

.judgments {
    border-top: 1px dashed #AAA;
    margin-top: 40px;
    padding-top: 10px;
}

.judgments_top {
    padding-bottom: 40px;
    text-align: center;
}

.judgment {
    text-align: center;
    z-index: 300;
}

.judgment_tag {
    display: inline;
    white-space: nowrap;
    /*cursor: pointer;*/
    color: black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 2em;
    /*z-index: -100;*/
}

.judgment_info {
    position: fixed;
    background-color: #FFFFFF;
    border: 1px solid #BBB;
    padding: 5px;
    display: none;
    z-index: 2000;
}

.judgment_smiley {
    display: block;
    border: none;
    width: 14px;
    margin: 0 auto;
    z-index: -100;
}

.feeling_smiley {
    width: 24px;
    height: 18px;
    margin: 0 auto;
    z-index: -10;
}

.good {
    background: #6C3 url(../images/smiley_good_white_14.png) no-repeat center;
}

.good_border {
    border: 1px solid #6C3;
}

.bad {
    background: #F33 url(../images/smiley_bad_white_14.png) no-repeat center;
}

.bad_border {
    border: 1px solid #F33;
}

#fixed_layer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}

@media screen and (max-width: 720px){

    #opinions {
        top: 150px;
    }

}