/* Copyright bytedojo 2011 */
#opinions {
    position: relative;
    left: 2%;
    width: 96%;
    //background-color: #0F0 !important;
}

.opinion {
    display: block;
    width: 100px;
    padding: 20px;
    margin: 5px;
    border-width: 0px;
    border-style: solid;
    border-color: #FFF;
    background-color: #FFF;
    list-style-type: none;
    overflow: hidden;
}

.subjects {
    border-top: 1px dashed #AAA;
    margin-top: 10px;
    padding-top: 10px;
}

.subject {

}

.subject_tag {
    cursor: pointer;
    color: white;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 2em;
}

.subject_info {
    position: fixed;
    background-color: #FFFFFF;
    border: 1px solid #BBB;
    padding: 5px;
    display: none;
    z-index: 2000;
}

.good {
    background-color: #6C3;
}

.bad {
    background-color: #F33;
}