/* Copyright bytedojo 2011 */
#opinions {
    position: relative;
    margin-top: 200px;
    //position: fixed;
    //top: 650px;
    //margin-top: -2px;
    left: 2%;
    width: 96%;
}

.opinion {
    display: block;
    width: 100px;
    padding: 20px;
    margin: 5px;
    border-width: 0px;
    border-style: solid;
    border-color: #FFF;
    background-color: #FFF;
    list-style-type: none;
    overflow: hidden;
}

#scroll_to_top {
    position: fixed;
    top: 300px;
    left: 50%;
    text-align: center;
    width: 10%;
    background-color: #F1F1F1 !important;
    width: 64px;
    margin-left: -32px;
    border: none;
    z-index: 300;
}

.subjects {
    border-top: 1px dashed #AAA;
    margin-top: 10px;
    padding-top: 10px;
}

.subject {

}

.subject_tag {
    cursor: pointer;
    color: white;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 2em;
}

.subject_info {
    position: fixed;
    background-color: #FFFFFF;
    border: 1px solid #BBB;
    padding: 5px;
    display: none;
    z-index: 2000;
}

.good {
    background-color: #6C3;
    //background-image: url('../images/noise_good.png');
}

.bad {
    background-color: #F33;
    //background-image: url('../images/noise_bad.png');
}

.neutral {
    background-color: #BBB;
}