/* Copyright bytedojo 2011 */

footer {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;  
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: #7BAFD1;
    top: 0px;
}

.bytedojo {
}

footer span a {
    color: #FFFFFF;
    text-decoration: none;
}

footer blockquote {
    margin-top: 15px;
    font-size: 10px;
    vertical-align: bottom;
}

#bytedojologo {
    width: 100px;
}

#arpinumlogo {
    width: 100px;
}

#alchemylogo {
    widht: 150px;
}