/* Copyright bytedojo 2011 */
#opinion_form {
    position: relative;
    top: -80px;
    overflow: hidden;
    width: 40%;
    margin: 0 auto;
    min-height: 180px;
    z-index: 100;
}

#opinion_title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

#opinion_form_textarea {
    width: 80%;
    margin-left: 8%;
    outline: none;
    -moz-outline: none;
    border: solid 1px #ADDDEB;
    resize: none;
    padding: 2%;
    height: 40px;
    z-index: 1;
}

#opinion_form_judgments {
    position: relative;
    top: -5px;
    width: 80%;
    margin-left: 8%;
    padding: 2%;
    border: 1px solid #ADDDEB;
    border-top-style: dashed;
    background-color: #FFF;
    z-index: 2;
}

#opinion_form_submit {
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
}