/* Copyright bytedojo 2011 */
header {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    border-bottom: 5px solid white;
    z-index: 40;
}

#home_link {
    position: relative;
    float: left;
    left: 2%;
    padding-top: 8px;
    font-size: 34px;
    font-weight: bold;
    z-index: 40;
}

#header_right {
    position: relative;
    float: right;
    right: 2%;
    padding-top: 20px;
    z-index: 40;
}

#bookmarklet {
    background-color: #FFFFFF;
    padding: 5px;
}

@media screen and (max-width: 720px) {

    header {
        display: none;
    }
}