/* Copyright bytedojo 2011 */
body {
    background-color: #F1F1F1;
}

a {
    text-decoration: none !important;
}

#feedback {
    position: fixed;
    top: 50%;
    right: 0px;
    width: 100px;
    margin-top: -50px;
    z-index: 200;
    font-size: 16px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 12px;
}

#opinions {
    position: relative;
    top: 150px;
    margin-top: -2px;
    left: 30%;
    width: 70%;
}

.opinion {
    display: block;
    width: 120px;
    padding: 20px;
    margin: 2px;
    border-width: 0px;
    border-style: solid;
    border-color: #BBB;
    background-color: #FFFFFF;
    list-style-type: none;
    overflow: hidden;
}

.subjects {
    border-top: 1px dashed #AAA;
    margin-top: 10px;
    padding-top: 10px;
}

.subject {

}

.subject_tag {
    cursor: pointer;
    color: white;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 2em;
}

.subject_info {
    position: fixed;
    background-color: #FFFFFF;
    border: 1px solid #BBB;
    padding: 5px;
    display: none;
    z-index: 200;
}

.good {
    background-color: #6C3;
}

.bad {
    background-color: #F33;
}

.neutral {
    background-color: #BBB;
}

#arrow_up {
    position: fixed;
    top: 150px;
    left: 60%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10%;
    z-index: 100;
    cursor: pointer;
    border: none;
    background-color: #F1F1F1;
}