/* Copyright bytedojo 2011 */
body {
    font-family: "Helvetica neue";
    font-size: 12px;
    overflow: scroll;
}

input:focus {
    outline: none;
}

#resource {
    margin: 60px auto;
    padding: 20px;
    width: 960px;
    border-radius: 10px;
    --moz-border-radius: 10px;
    --webkit-border-radius: 10px;
    border: 1px solid #7BAFD1;
}

span#webpageRoot {
    font-weight: bold;
    font-size: 20px;
}

span#webpageTitle a {
    text-decoration: none;
}

.opinion_neutral {
    background-color: #5BA3D1;
}

.opinion_neutral:hover {
    background-color: #2873A3;
    -webkit-box-shadow: 0px 0px 10px #5BA3D1;
    -moz-box-shadow: 0px 0px 10px #5BA3D1;
    box-shadow: 0px 0px 10px #5BA3D1;
}

.opinion_bad {
    background-color: #FF8D66;
}

.opinion_bad:hover {
    background-color: #FF6733;
    -webkit-box-shadow: 0px 0px 10px #FF8D66;
    -moz-box-shadow: 0px 0px 10px #FF8D66;
    box-shadow: 0px 0px 10px #FF8D66;
}

.opinion_good {
    background-color: #A8F261;
}

.opinion_good:hover {
    background-color: #87E52E;
    -webkit-box-shadow: 0px 0px 10px #A8F261;
    -moz-box-shadow: 0px 0px 10px #A8F261;
    box-shadow: 0px 0px 10px #A8F261;
}

#webpage {
    position: relative;
    margin: 10px 50px 100px 50px;
}

#webpageselector {
    display: block;
    margin: 0px auto;
    width: 90%;
    height: 30px;
    border-bottom: 2px solid #7BAFD1;
    color: #7BAFD1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.opinion {
    width: 10%;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    --moz-border-radius: 10px;
    --webkit-border-radius: 10px;
    overflow: hidden;
}

.opinionlink {
    text-decoration: none;
    color: #000000;
}

span.opinionIndex {
    display: block;
    width: 100%;
    position: relative;
    color: #FFFFFF;
    top: -23px;
    margin: 0 auto;
    text-align: center;
}

#post_opinion {
    width: 300px;
    margin: 100px auto;
}

#post_opinion textarea {
    margin: 0px auto;
    outline-style: none;
    padding: 20px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    //border: none;
    resize: vertical;
    overflow: overlap;
}

#submit_good {
    background-color: #87E52E;
}

#submit_bad {
    background-color: #FF6733;
}

#submit_neutral {
    background-color: #2873A3;
}

span.opinionDate {
    float: right;
    position: relative;
    top: -15px;
    right: -15px;
    font-size: 10px;
}

ul#pages {
    list-style: none;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;
}

ul#pages li {
    display: inline;
    color: #7BAFD1;
}

ul#pages li.pageLink a {
    text-decoration: none;
    font-weight: bold;
    color: #355F7A;
    font-size: 14px;
}

ul#pages li#currentPage {
    font-size: 18px;
}

#error {
    width: 600px;
    height: 80px;
    margin: 200px auto;
    text-align: center;
    background-color: #FFAC8F;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#error p {
    padding-top: 29px;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
}

#timeline {
    display: block;
    width: 100%;
    margin: 100px auto;
}

#timeline_main {
    float: left;
    width: 600px;
}

#timeline_display {
    margin: 100px auto;
    width: 100%;
    cursor: move;
}

#timeline_back {
    float: left;
}

#timeline_forward {
    float: left;
}

#timeline_up {
}

#timeline_down {
}

#feedback {
    position:fixed; 
    top: 50%;
    margin: -50px 0px 0px -3px;
    width: 31px;
    height: 100px;
    background-image: url(../images/feedback.png);
    background-position: right,center;
    background-color: #7BAFD1;
    background-repeat: no-repeat;
    border: 1px solid white;    
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    --moz-border-radius-bottom-right: 10px;
    --moz-border-radius-top-right: 10px;
    --webkit-border-bottom-right-radius: 10px;
    --webkit-border-top-right-radius: 10px;
    z-index: 100;
}

#feedback:hover {
    width: 41px;
}

div#newwebpage {
    width:600px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-50px 0 0 -300px;
    background-color: #BBF288;
    border-radius: 10px;
    --moz-border-radius: 10px;
    --webkit-border-radius: 10px;
    text-align: center;
}

div#newwebpage p {
    padding-top: 36px;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
}