/* Copyright bytedojo 2011 */
#migration {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 40%;
    margin-left: -20%;
    margin-top: -10%;
}

#migration img {
    width: 64px;
    margin-top: -8%;
    margin-bottom: 2%;
}

#migration p {
    font-size: 2em;
    color: #FFFFFF;
    line-height: 2em;
}

#migration a {
    position: relative;
    top: 20px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
}