/* Copyright bytedojo 2011 */
div#newfeed {
    width:600px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-50px 0 0 -300px;
    background-color: #BBF288;
    border-radius: 5px;
    --moz-border-radius: 5px;
    --webkit-border-radius: 5px;
    text-align: center;
}

div#newfeed p {
    padding-top: 36px;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
}