/* Copyright Steambeat 2012 */
@import "import/variables.less";
@import "import/colors.less";
@import "import/mixins.less";

body {

    .opinion {
        position: absolute;
        display: block;
        width: 240px;
        list-style-type: none;
        padding: 20px;
        background-color: @white !important;
        overflow: hidden;

        p {
            word-wrap: break-word;

            .reference {
                border-bottom: 1px dotted @grey-1;
            }
        }
    }
}
//
//.judgments_header {
//    position: relative;
//    top: -22px;
//    font-size: 10px;
//    width: 100%;
//    text-align: center;
//}
//
//.judgments {
//    border-top: 1px dashed @grey-1 !important;
//    margin-top: 40px;
//    padding-top: 10px;
//}
//
//.judgments_top {
//    padding-bottom: 40px;
//    text-align: center;
//}
//
//.judgment {
//    text-align: center;
//    z-index: 300;
//}
//
//.judgment_tag {
//    display: inline;
//    white-space: nowrap;
///*cursor: pointer;*/
//    color: black;
//    padding: 5px;
//    margin-left: 5px;
//    margin-right: 5px;
//    line-height: 2em;
///*z-index: -100;*/
//}
//
//.judgment_info {
//    position: fixed;
//    background-color: @white !important;
//    border: 1px solid @grey-2 !important;
//    padding: 5px;
//    display: none;
//    z-index: 3000;
//}
//
//.judgment_smiley {
//    display: block;
//    border: none;
//    width: 14px;
//    margin: 0 auto;
//    z-index: -100;
//}

///
///*.opinion_form_title {*/
///*text-align: center;*/
///*font-size: 22px;*/
///*font-weight: bold;*/
///*padding: 20px;*/
///*}*/
//
///*#opinion_form_subject {*/
///*position: relative;*/
///*width: 80%;*/
///*margin-left: 8%;*/
///*margin-bottom: 20px;*/
///*margin-top: 20px;*/
///*padding: 2%;*/
///*text-align: center;*/
///*z-index: 2;*/
///*}*/
//
///*#opinion_form_submit {*/
///*position: absolute;*/
///*bottom: -5px;*/
///*font-size: 24px;*/
///*font-weight: bold;*/
///*width: 100%;*/
///*text-align: center;*/
///*padding-top: 20px;*/
///*padding-bottom: 20px;*/
///*color: #FFFFFF;*/
///*border: none;*/
///*background-color: #ADDDEB;*/
///*}*/