/* Copyright bytedojo 2011 */
#panel {
    position: fixed;
    top: 0px;
    width: 30%;
    height: 100%;
    margin-top: 150px;
    overflow: hidden;
    z-index: 100;
}

.panel_box {
    padding: 10px;
    text-align: center;
}

.counter {
    width: 30%;
    display: inline-block;
}

.counter_text {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Droid Sans';, Sans-Serif;
}

.smiley {
    border: none;
    width: 64px;
}

.panel_resource {

}

#webpageRoot {

}