/* Copyright bytedojo 2011 */
#panel {
    position: relative;
    width: 100%;
    height: 280px;
    z-index: 10;
}

.panel_box {
    padding: 10px;
    text-align: center;
}

.counter {
    width: 100px;
    display: inline-block;
}

.counter_text {
    color: #FFFFFF !important;
    font-size: 24px !important;
}

.smiley {
    border: none;
    width: 48px;
}

.panel_resource {

}

#webpageRoot {

}
