/* Copyright bytedojo 2011 */
#panel {
    position: fixed;
    top: 0px;
    left: 5%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    z-index: 101;
}

.panel_box {
    margin-top: 200px;
    padding: 10px;
    text-align: center;
}

.counter {
    width: 30%;
    display: inline-block;
}

.counter_text {
    color: #FFFFFF !important;
    font-size: 24px !important;
}

.smiley {
    border: none;
    width: 48px;
}

.panel_resource {

}

#webpageRoot {

}
