/* Copyright bytedojo 2011 */
.protector {
    position: relative;
    z-index: 1000;
}

.ribbon_right {
     position: fixed;
     right: 2%;
     top: 140px;
     font-size: 16px !important;
     width: 49%;
     background: #ADDDEB;
     color: #fff;
     text-align: center;
     height: 48px;
     margin-right: -17px;
}

.ribbon_left {
     position: fixed;
     left: 1%;
     top: 120px;
     font-size: 16px !important;
     width: 33%;
     background: #ADDDEB;
     color: #fff;
     text-align: center;
     height: 48px;
}

.ribbon_right:before {
     content: "";
     position: absolute;
     display: block;
     border: 24px solid #ADDDEB;
     left: -24px;
     border-right-width: 24px;
     border-left-color: transparent;
     z-index: -1;
}

.ribbon_left:after {
     content: "";
     position: absolute;
     display: block;
     border: 24px solid #ADDDEB;
     right: -24px;
     border-left-width: 24px;
     border-right-color: transparent;
     bottom: 0px;
     z-index: -1;
}

.ribbon_right .ribbon_right_content:after {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #388399 transparent transparent transparent;
     bottom: -1em;
     right: 0px;
     border-width: 1em 1em 0 0;
}

.ribbon_left .ribbon_left_content:before {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #388399 transparent transparent transparent;
     bottom: -1em;
     left: 0;
     border-width: 1em 0 0 1em;
}