<li class="flow-element feeling" id="{{feelingid}}">
    <div class="feeling_related">
        {{#sentimentDatas}}
            {{#id}}
            <a href="{{root}}/topic/{{id}}" class="topic topic-spacer topic-large" style="width: {{width}}px; height: {{height}}px">
                <img src="{{thumbnail}}" class="illustration" style="width: {{width}}px; height: {{height}}px"/>
                <span class="{{sentimentValue}} name">{{name}}</span>
            </a>
            {{/id}}
        {{/sentimentDatas}}
    </div>
    {{#text}}
    <p>{{{.}}}&nbsp;</p>
    {{/text}}
</li>