<li class="flow-element" id="{{id}}">
<a href="{{root}}/topic/{{id}}" class="topic topic-large topic-inline topic-search"><img src="{{thumbnail}}" class="illustration"/><span>{{type}}</span></a>
</li>
