@white: #FFFFFF;
@bad: #FF3333;
@good: #66CC33;
@neutral: #0033FF;
@grey-1: #AAAAAA;
@grey-2: #BBBBBB;
@grey-3: #F3F3F3;
@grey-4: #777777;
@grey-5: #555555;
@blue-1: #3e779d;
@blue-2: #65a9d7;
@wonka-chocolate: #624B42;
@blue-steel: #1B708C;
