<div class="feeling" id="{{feelingid}}">
<div>
<canvas id="canvas-{{feelingid}}" class="feeling-canvas"></canvas>
</div>
<p class="date">{{creationDate}}</p>
{{#text}}
<p class="text">{{.}}</p>
{{/text}}
</div>