<div class="feeling {{class}}" id="{{feelingId}}" data-value="{{feelingValue}}">
<div>
<canvas id="canvas-{{feelingId}}" class="feeling-canvas"></canvas>
</div>
<p class="date">{{creationDate}}</p>
{{#notext}}
<p class="notext">{{notext}}</p>
{{/notext}}
{{^notext}}
{{#text}}
<p class="text">{{.}}</p>
{{/text}}
{{/notext}}
</div>