<li id="{{id}}" class="flow-element" data-happy="{{happyFeelingCount}}" data-sad="{{sadFeelingCount}}" data-bored="{{boredFeelingCount}}">
    <a href="{{root}}/topic/{{id}}">
        {{#new}}
            <div class="new"></div>
        {{/new}}
        <div class="topic-element">
            <div class="wrapper">
                <img src="{{thumbnail}}" class="illustration"/>
                <span>{{name}}</span>
            </div>
        </div>
        <div class="small-analytics">

            <canvas id="pie-{{id}}" class="pie-canvas" data-happy="{{happyFeelingCount}}" data-bored="{{boredFeelingCount}}" data-sad="{{sadFeelingCount}}"></canvas>
            <span id="counter" class="{{counterClass}}">{{totalFeelingText}}</span>
        </div>
    </a>
</li>
