<a href="{{root}}/topic/{{id}}" class="topic-element">
<li id="{{id}}" class="flow-element">
    <div class="topic-element">
        <div class="wrapper">
            <img src="{{thumbnail}}" class="illustration"/>
            <span>{{name}}</span>
        </div>
    </div>
    <div class="small-analytics">
        <canvas id="pie-{{id}}" class="pie-canvas" data-good="{{goodFeelingCount}}" data-neutral="{{neutralFeelingCount}}" data-bad="{{badFeelingCount}}"></canvas>
        <span id="counter" class="{{counterClass}}">{{totalFeelingCount}} feelings</span>
    </div>
</li>
</a>