.rounded(@radius: 10px){
    border-radius: @radius;
    --moz-border-radius: @radius;
    --webkit-border-radius: @radius;
}

.rounded_down(@radius: 10px){
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
    --moz-border-radius-bottom-right: @radius;
    --moz-border-radius-bottom-left: @radius;
    --webkit-border-bottom-right-radius: @radius;
    --webkit-border-bottom-left-radius: @radius;
}

.font_text {
    font-family: 'Droid Serif', serif;
}

.font_title {
    //font-family: 'Droid Sans', Sans-Serif;
    //font-family: 'ABeeZee', sans-serif;
    //font-family: 'Molle', cursive;
    //font-family: 'Eagle Lake', cursive;
    font-family: 'Autour One', cursive;
    //font-family: 'Fanwood Text', serif;
    //font-family: 'Handlee', cursive;
    //font-family: 'Macondo', cursive;
}

.font_home_title {
    //font-family: 'ABeeZee', sans-serif;
    //font-family: 'Molle', cursive;
    //font-family: 'Eagle Lake', cursive;
    font-family: 'Autour One', cursive;
    //font-family: 'Fanwood Text', serif;
    //font-family: 'Handlee', cursive;
    //font-family: 'Macondo', cursive;
}