<li class="edit">
    <div class="illustration_main">
        <img src="{{illustrationLink}}" class="illustration_main"/>
    </div>
    <div class="dashboard_title">other medias</div>
    <div class="illustration_other">
        <img src="{{illustrationLink}}" class="illustration_other"/>
        <img src="{{illustrationLink}}" class="illustration_other"/>
        <img src="{{illustrationLink}}" class="illustration_other"/>
    </div>
    <a href="" class="dashboard_link">see all medias</a>
</li>