<li class="edit">
    <div class="name">{{name}}</div>
    <input type="hidden" name="name" value="{{name}}"/>
    <div class="type">
        add a type
        <select name="type">
            <option value="None" selected="selected"></option>
            {{#types}}
                <option value="{{.}}">{{.}}</option>
            {{/types}}
        </select>
    </div>
</li>