<li id="dashboard-info">
    <div class="holder"><span class="type">Category : {{type}}</span></div>
    <div class="holder"><span class="description">{{description}}</span></div>
    <div class="holder">
    {{#uris}}
        <img src="{{root}}/static/images/search-dark.png" class="linkicon"/>
        <a href="{{.}}" class="uris" rel="nofollow" target="_blank">{{.}}</a>
    {{/uris}}
    </div>
    <div class="holder"><span class="subtypes">{{subTypes}}</span></div>
</li>