<li id="dashboard-medias">
    <div class="holder"><span>medias</span></div>
    <div class="holder">
        <a href="{{root}}/topic/{{id}}" class="topic topic-large topic-center"><img src="{{thumbnailLarge}}" class="illustration"/><span>{{type}}</span></a>
        <div class="other_medias">
        {{#medias}}
        <a href="{{root}}/topic/{{id}}" class="topic topic-small topic-inline"><img src="{{thumbnailSmall}}" class="illustration"/><span>{{type}}</span></a>
        {{/medias}}
        </div>
    </div>
</li>