<li id="dashboard-related">
    <div class="holder"><span>related topics</span></div>
    <div class="holder related">
        {{#related}}
        <a href="{{root}}/topic/{{id}}" class="topic topic-small topic-inline topic-spacer"><img src="{{thumbnailSmall}}" class="illustration"/><span>{{name}}</span></a>
        {{/related}}
    </div>
</li>