<script id="feeling" type="text/html">
    <li class="{{feeling_classes}}" id="{{id}}">
        {{#feeling_sentiment_value}}
        <img src="{{feeling_sentiment_value_illustration}}" class="img_{{feeling_sentiment_value}} feeling_sentiment_value_illustration"/>
        {{/feeling_sentiment_value}}
        {{^feeling_sentiment_value}}
        <div class="feeling_spacer"></div>
        {{/feeling_sentiment_value}}
        {{#text}}
        <p>{{{.}}}&nbsp;</p>
        {{/text}}
        <div class="feeling_related" style="height: {{height}}">
            {{#keywordDatas}}
            {{> topic}}
            {{/keywordDatas}}
        </div>
    </li>
</script>
