<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
	    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	</encoder>
    </appender>
    <appender name="GELF" class="me.moocar.logbackgelf.GelfAppender">
        <facility>feelhub-logs</facility>
        <graylog2ServerHost>${graylog2server}</graylog2ServerHost>
        <graylog2ServerPort>9090</graylog2ServerPort>
        <useLoggerName>true</useLoggerName>
        <useThreadName>true</useThreadName>
        <graylog2ServerVersion>0.9.6</graylog2ServerVersion>
        <chunkThreshold>1000</chunkThreshold>
        <messagePattern>%m%rEx</messagePattern>
        <shortMessagePattern>%.-100(%m%rEx)</shortMessagePattern>
    </appender>
    <logger name="org.mongolink" level="ERROR"/>
    <logger name="org.restlet" level="ERROR"/>
    <logger name="org.restlet.Component.LogService" level="ERROR" />
    <root level="ERROR">
	<appender-ref ref="STDOUT"/>
	<appender-ref ref="GELF"/>
    </root>
</configuration>