<li id="dashboard-main">
    <div class="holder"><span class="name">{{name}}</span></div>
    <div class="holder"><span class="type">{{type}}</span></div>
    <div class="holder illustration_main"><img src="{{illustration}}" onLoad='OnImageLoad(event);'/></div>
</li>