<li id="dashboard-related">
    <div class="holder"><span>related topics</span></div>
    <div class="holder related">
        {{#related}}
        <a href="{{root}}/topic/{{id}}" class="illustration_relation"><img src="{{illustration}}" onLoad='OnImageLoad(event);'/><span>{{name}}</span></a>
        {{/related}}
    </div>
</li>