<li>
    <div class="holder"><span class="name">{{name}}</span></div>
    <input type="hidden" name="name" value="{{name}}"/>
    <div class="holder">
        add a type
        <select name="type">
            <option value="None" selected="selected"></option>
            {{#types}}
                <option value="{{.}}">{{.}}</option>
            {{/types}}
        </select>
    </div>
</li>