<li id="dashboard-medias">
    <div class="holder">
        <a href="{{root}}/topic/{{id}}" class="illustration_main_media"><img src="{{illustration}}" onLoad='OnImageLoad(event);'/><span>{{type}}</span></a>
        <div class="other_medias">
        {{#medias}}
        <a href="{{root}}/topic/{{id}}" class="illustration_media"><img src="{{illustration}}" onLoad='OnImageLoad(event);'/><span>{{type}}</span></a>
        {{/medias}}
        </div>
    </div>
</li>