<li id="dashboard-optional">
    <div class="holder"><span class="description">{{description}}</span></div>
    <div class="holder">
    {{#uris}}
        <a href="{{.}}" class="uris" rel="nofollow" target="_blank">{{.}}</a>
    {{/uris}}
    </div>
    <div class="holder"><span class="subtypes">{{subTypes}}</span></div>
</li>