/* Copyright Feelhub 2012 */
@import "import/variables.less";
@import "import/colors.less";
@import "import/mixins.less";

body {

  #command {
    text-align: center;
    width: 400px;
    margin: 20px auto 0px auto;

    #feeling_form {
      max-width: 320px;
      margin: 0px auto;
      text-align: center;

      textarea {
        width: 280px;
        height: 30px;
        border: none;
        resize: none;
        background-color: @white !important;
        padding-top: 12px;
        padding-left: 20px;
        padding-right: 20px;
        textarea {
          .rounded();

          &:focus {
            outline: none;
          }
        }
      }

      button[type=submit] {
        .rounded();
        cursor: pointer;

        img {
          border: none;
          width: 30px;
        }
      }
    }

    a.create_topic {
      color: @blue-1;
      .font_title;
      font-weight: bold;
      width: 200px;
      padding: 10px 20px;
      font-size: @font-medium;
      text-decoration: none;
      border: 2px solid @blue-1;
      .rounded(45px);
      background-color: @blue-2;

      &:hover, &:focus {
        color: @white !important;
      }

      &:active {
        .insetshadow();
      }
    }
  }
}