/* Copyright Feelhub 2012 */
@import "import/variables.less";
@import "import/colors.less";
@import "import/mixins.less";

body {

  #no-feelings {
    text-align: center;
    width: 100%;
    display: block;
    .font_logo;
    color: @white;
    font-size: 52px;
  }

  #flow {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 100px;

    .flow_list {
      width: 300px;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      margin-right: 10px;

      .flow-element {
        display: block;
        width: 300px;
        list-style-type: none;
      }

      .topic {

        a {
          position: relative;
          width: 256px;
          height: 144px;
          border: @white solid 5px !important;
          margin: 5px;
          display: inline-block;
          overflow: hidden;

          img {
            position: absolute;
          }

          span {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0px;
            left: 0px;
            background: @grey-4;
            background: rgba(0, 0, 0, .8);
            .font_title();
            color: @blue-1;
            font-size: @font-normal;
            padding-top: 4px;
            padding-bottom: 4px;
            min-height: @font-normal;
          }
        }
      }

      .feeling {
        background-color: @white !important;
        margin-bottom: 20px;
        .shadow();

        .feeling_spacer {
          height: 40px;
          width: 100%;
        }

        p {
          padding-left: 20px;
          padding-right: 20px;
          word-wrap: break-word;
          text-align: left;

          span {
            border-bottom: 1px dotted @grey-1;
          }
        }

        .feeling_sentiment_illustration {
          position: relative;
          top: -7px;
          width: 14px;
          height: 14px;
          padding: 7px;
          margin-bottom: 12px;
          .rounded(50px);
        }

        .img_bad {
          background-color: @bad;
        }

        .img_good {
          background-color: @good;
        }

        .img_neutral {
          background-color: @neutral;
        }

        .img_none {
          border: none;
        }

        .feeling_related {
          margin-left: 20px;
          padding-top: 40px;

          a {
            position: relative;
            overflow: hidden;

            img.topic_illustration {
              position: absolute;
              background-color: @blue-4;
            }

            img.topic_sentiment_illustration {
              position: relative;
              width: 14px;
              height: 14px;
              padding-bottom: 7px;
              padding-left: 7px;
              padding-right: 7px;
              .rounded_down(50px);
            }

            span {
              position: absolute;
              display: block;
              width: 100%;
              bottom: 0px;
              left: 0px;
              background: @grey-4;
              background: rgba(0, 0, 0, .8);
              .font_title();
              color: @blue-1;
              font-size: @font-medium;
              padding-top: 5px;
              padding-bottom: 5px;
              min-height: @font-medium;
              display: none;
            }

            &:hover {
              span {
                display: inline;
              }
            }
          }

          a.topic_stack {
            float: left !important;
            border: 1px solid @white !important;
          }

          a.topic_medium {
            width: 128px;
            height: 144px;
          }

          a.topic_large {
            width: 258px;
            height: 144px;
          }
        }
      }
    }
  }
}