/* Copyright Feelhub 2012 */
@import "import/variables.less";
@import "import/colors.less";
@import "import/mixins.less";

body {

  #no-feelings {
    text-align: center;
    width: 100%;
    display: block;
    .font_logo;
    color: @white;
    font-size: 52px;
  }

  #flow {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 100px;

    .flow_list {
      width: 300px;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      margin-right: 10px;

      .flow-element {
        display: block;
        width: 300px;
        list-style-type: none;
      }

      .topic {

        a {
          position: relative;
          width: 256px;
          height: 144px;
          overflow: hidden;
          border: @white solid 5px !important;
          margin: 5px;
          display: inline-block;

          img {
            position: absolute;
          }

          span {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0px;
            left: 0px;
            background: @grey-4;
            background: rgba(0, 0, 0, .8);
            .font_title();
            color: @blue-1;
            font-size: 8px;
            padding-top: 2px;
            padding-bottom: 2px;
            min-height: @font-normal;
          }
        }
      }

      .feeling {
        background-color: @white !important;
        margin-bottom: 20px;
        .shadow();

        .feeling_spacer {
          height: 40px;
          width: 100%;
        }

        p {
          padding-left: 20px;
          padding-right: 20px;
          word-wrap: break-word;
          text-align: left;

          span {
            border-bottom: 1px dotted @grey-1;
          }
        }

        .feeling_feeling_illustration {
          position: relative;
          top: -7px;
          width: 14px;
          height: 14px;
          padding: 7px;
          margin-bottom: 12px;
          .rounded(50px);
        }

        .img_bad {
          background-color: @bad;
        }

        .img_good {
          background-color: @good;
        }

        .img_neutral {
          background-color: @neutral;
        }

        .img_none {
          border: none;
        }

        .feeling_related {
          margin-left: 20px;
          padding-top: 40px;
        }
      }
    }
  }
}