/* Copyright Feelhub 2012 */
@import "import/variables.less";
@import "import/colors.less";
@import "import/mixins.less";

body {

  #no-feelings {
    text-align: center;
    width: 100%;
    display: block;
    .font_logo;
    color: @white;
    font-size: 52px;
  }

  #related {
    margin: 0px auto;
    height: 300px;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
  }

  #create_topic {
    background-color: @blue-1;
  }
}

@media (min-width: 1600px) {

  body {
    #wrapper {
      #left {
        #related {
          max-width: 444px;
        }
      }
    }
  }
}

@media (min-width: 1800px) {

  body {
    #wrapper {
      #left {
        #related {
          max-width: 592px;
        }
      }
    }
  }
}