/* Copyright Feelhub 2012 */
@import "../less/variables";
@import "../less/colors";
@import "../less/reset";
@import "../less/sentiment";
@import "../less/common";
@import "../less/header";
@import "../less/popup";
@import "../less/messages";

body {

  #topic-container {
    padding: 0px;
    margin: 0px auto;
    margin-top: 82.2px;
    max-width: 600px;

    #nofeelings {
      display: none;
    }

    .topic-column {
      margin: 0px auto !important;

      .topic-element {
        background-color: @grey-6;
        padding: 12px;
        margin: 12px 6px;
        .rounded();
      }

      #current-topic {
        display: block;
        position: relative;

        .wrapper {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100%;

          img.illustration {
            vertical-align: top;
            width: 100%;
          }

          span {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0px;
            left: 0px;
            background: @grey-4;
            background: rgba(0, 0, 0, .5);
            color: @white;
            overflow: hidden;
            .font_span();
            text-align: center;
            font-size: @font-2;
            min-height: 19.4px;
            max-height: 38%;
            line-height: 1.6875;
          }
        }
      }

      a#current-topic {

        #visit {
          display: none;
          position: absolute;
          top: 0px;
          left: 50%;
          z-index: 1000;
          width: 215px;
          background-color: @white;
          text-align: center;
          font-size: 12px;
          padding-top: 12px;
          .font_title();
          .rounded_up();
          margin-left: -107.5px;
          margin-top: -24px;
          color: @grey-5;
        }

        &:hover {

          #visit {
            display: block !important;
          }

          background-color: @white !important;
        }
      }

      #analytics {

        #pie {
          margin-left: 19.4px;
          width: 82px;
          height: 82px;
        }

        #counter {
          display: block;
          .font_logo;
          font-size: 19.4px;
          vertical-align: top;
          width: 121px;
          text-align: center;
        }
      }

      #uris {
        overflow: hidden;

        img {
        }

        a {
          color: @grey-5;
          .font_title;

          &:hover {
            color: @grey-1 !important;
          }
        }
      }

      #feeling-form {
        position: relative;
        text-align: center;

        ::-webkit-input-placeholder {
          .font_text();
          font-size: 12px;
          color: @grey-2 !important;
        }

        :-moz-placeholder {
          .font_text();
          font-size: 12px;
          color: @grey-2 !important;
        }

        ::-moz-placeholder {
          .font_text();
          font-size: 12px;
          color: @grey-2 !important;
        }

        :-ms-input-placeholder {
          .font_text();
          font-size: 12px;
          color: @grey-2 !important;
        }

        textarea {
          vertical-align: top;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          display: block;
          width: 215px;
          padding: 12px;
          margin: 12px auto;
          border: 1.7px solid @grey-7;
          border-bottom: none;
          resize: none;
          outline: none;
          overflow: auto;
        }

        .canvas-button {
          display: inline-block;

          canvas {
            width: 51px;
            height: 51px;
            margin: 19.4px;
            cursor: pointer;

            &:hover {

            }
          }

          .canvas-help-text {
            .font_title();
            font-size: 12px;
          }
        }
      }

      ul#feelings {
        padding-top: 0px;

        .feeling {
          clear: both;
          border-top: 1px solid @white;

          canvas {
            float: left;
            margin: 12px;
            width: 31px;
            height: 31px;
          }

          .date {
            color: @grey-2;
            margin: 12px;
            .font_span;
          }

          p {
            .font_text;
            margin: 12px;
          }

          .text {
            color: @grey-5;
            padding-left: 43px;
          }

          .notext {
            color: @grey-2;
            font-style: italic;
          }

          &:first-child {
            border-top: 1px solid transparent !important;
          }
        }

        .fake {
          display: none;
        }
      }

      #related {
        display: none;
        text-align: center;

        span.block-title {
          display: block;
          width: 100%;
          text-align: center;
          padding-bottom: 12px;
          font-size: 19.4px;
          .font_text();
          color: @grey-4;
        }

        .wrapper {
          display: inline-block;
          position: relative;
          overflow: hidden;

          img {
            width: 133px;
          }

          span {
            position: absolute;
            display: none;
            width: 100%;
            bottom: 0px;
            left: 0px;
            background: @grey-4;
            background: rgba(0, 0, 0, .5);
            color: @white;
            overflow: hidden;
            .font_span();
            text-align: center;
            font-size: 12px;
            min-height: 19.4px;
            max-height: 51px;
            line-height: 1.7;

          }

          &:hover {

            span {
              display: block !important;
            }
          }
        }
      }
    }
  }

  @media all and (min-width: 529px) and (max-width: 768px) {

    #topic-container.feelings {
      #current-topic {

        span {
          font-size: @font-3 !important;
          min-height: 31.4px !important;
        }
      }
    }
  }

  @media all and (min-width: 1034px) {

    #topic-container.feelings {
      #current-topic {

        span {
          font-size: @font-3 !important;
          min-height: 31.4px !important;
        }
      }
    }
  }

  @media all and (min-width: 768px) {

    #topic-container.feelings {
      max-width: 1200px !important;
      width: 100% !important;

      .topic-column {
        float: left !important;
        width: 50% !important;
        max-width: 600px;
      }

      #related {
        display: block !important;
      }
    }
  }

  @media all and (min-width: 1200px) {

    #topic-container.feelings {

      #feeling-form {

        textarea {
          width: 348px !important;
        }

        canvas {
          width: 82px !important;
          height: 82px !important;
        }
      }

      #analytics {

        #pie {
          margin-left: 31.4px !important;
          width: 133px !important;
          height: 133px !important;
        }

        #counter {
          font-size: 31.4px !important;
          width: 200.8px !important;
        }
      }

      ul#feelings {

        canvas {
          width: 51px !important;
          height: 51px !important;
        }
      }
    }
  }

  #topic-container.nofeelings {

    #nofeelings {
      display: block;
      margin-bottom: 12px;
      width: 100%;
      background-color: @neutral;
      color: @white;
      font-size: @font-3;
      padding: @font-3;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      text-align: center;
      .rounded();
      clear: both;
    }

    .topic-column {

      #current-topic {

        .wrapper {
          text-align: center;

          img.loading {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -64px;
            margin-left: -64px;
          }
        }
      }

      #analytics {
        display: none;
      }

      ul#feelings {
        display: none;
      }

      #related {
        display: none;
      }

      #feeling-form {

        textarea {
          width: 348px !important;
        }

        canvas {
          width: 82px !important;
          height: 82px !important;
        }
      }
    }
  }
}
