/* Copyright Feelhub 2012 */
@import "../less/variables";
@import "../less/colors";
@import "../less/reset";
@import "../less/sentiment";
@import "../less/messages";
@import "../less/popup";

body {
  background-color: @midnightblue;
  text-align: center;

  #left {
    position: absolute;
    top: 0px;
    margin-top: 50.8px;
    left: 33%;
    width: 564px;
    vertical-align: middle;
    margin-left: -282px;

    #logo {
      width: 348px;
      margin-bottom: 50.8px;
    }

    p {
      font-size: @font-2;
      .font_text();
      color: @smooth;
      margin: @font-3;
      .font_logo();
    }
  }

  #right {
    vertical-align: middle;
    position: absolute;
    top: 0px;
    margin-top: 50.8px;
    left: 66%;
    margin-left: -190px;
    width: 381px;

    #signup {
      position: inherit !important;
      left: auto !important;
      margin-left: 0px !important;
      top: auto !important;
    }

    #login {
      position: inherit !important;
      left: auto !important;
      margin-left: 0px !important;
      top: auto !important;
    }
  }

  img#show {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -456px;
    width: 912px;
  }

  @media all and (max-width: 1400px) {

    #left {
      left: 27% !important;
    }

    #right {
      left: 72% !important;
    }
  }

  @media all and (max-width: 900px) {
    #left {
      position: relative !important;
      left: 0px !important;
      top: 0px !important;
      margin-top: 0px !important;
      margin-left: 0px !important;
      margin: 82px auto !important;
    }

    #right {
      position: relative !important;
      left: 0px !important;
      top: 0px !important;
      margin-top: 0px !important;
      margin-left: 0px !important;
      margin: 82px auto !important;
    }
  }
}