<div class="topic topic-small topic-inline topic-form topic-with-sentiment" topic-name="{{name}}">
    <img src="{{root}}/static/images/smiley_{{sentiment}}_white_14.png" class="img_{{sentiment}} topic-sentiment"/>
    <img src="{{thumbnailLarge}}" class="illustration"/>
    <span class="name">{{name}}</span>
</div>