<div class="form-help" style="display: none;">
<span class="question">Please add a category for</span>
<span class="question-name">{{topic.name}}</span>
<input type="text" class="category-input" value="{{topic.type}}"/>
<button class="category-ok" onClick="return false;">ok</button>
<button class="ignore-button" onClick="return false;">ignore</button>
</div>