<div class="form-help" style="display: none;">
<span class="question">Choice a topic for</span>
<span class="question-name">{{topic.name}}</span>
<div class="topic-choice">
{{#other}}
<div class="topic topic-small topic-inline" topic-id="{{id}}" topic-type="{{type}}" topic-thumbnail="{{thumbnail}}" topic-name="{{topic.name}}">
    <img src="{{thumbnail}}" class="illustration"/>
    <span>{{type}}</span>
</div>
{{/other}}
<div class="topic topic-small topic-inline" topic-id="new" topic-name="{{topic.name}}" topic-thumbnail="{{root}}/static/images/new.jpg">
    <img src="{{root}}/static/images/new.jpg" class="illustration"/>
    <span></span>
</div>
</div>
<button class="ignore-button" onClick="return false;">ignore</button>
</div>