<div class="form-help" style="display: none;">
<span class="question">How do you feel about</span>
<span class="question-name">{{topic.name}}</span>
<div class="sentiment-choice">
<img src="{{root}}/static/images/smiley_bad_white_14.png" class="img_bad" topic-name="{{topic.name}}" sentiment="bad"/>
<img src="{{root}}/static/images/smiley_neutral_white_14.png" class="img_neutral" topic-name="{{topic.name}}" sentiment="neutral"/>
<img src="{{root}}/static/images/smiley_good_white_14.png" class="img_good" topic-name="{{topic.name}}" sentiment="good"/>
</div>
{{#invalidate}}
<button class="ignore-button" onClick="return false;">ignore</button>
{{/invalidate}}
</div>